<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/service" method="post">
        <label for="name">Service Name</label>
        <input type="text" id="name" name="name">
    </br>
        <label for="cost">Service cost</label>
        <select name="cost" id="cost">
            <option></option>
            <option value="10 thousand">10,000</option>
            <option value="20 thousand">20,000</option>
            <option value="30 thousand">30,000</option>
            <option value="40 thousand">40,000</option>
            <option value="50 thousand">50,000</option>
            <option value="60 thousand">60,000</option>
            <option value="70 thousand">70,000</option>
            <option value="80 thousand">80,000</option>
            <option value="90 thousand">90,000</option>
            <option value="1 lakh">1,00,000</option>
          </select>
</br>
        <label for="duration">Service duration in weeks</label>
        <select name="duration" id="duration">
            <option></option>
            <option value="1 weeks">1 week</option>
            <option value="2 weeks">2 weeks</option>
            <option value="3 weeks">3 weeks</option>
            <option value="4 weeks">4 weeks</option>
            <option value="5 weeks">5 weeks</option>
            <option value="6 weeks">6 weeks</option>
            <option value="7 weeks">7 weeks</option>
            <option value="8 weeks">8 weeks</option>
            <option value="9 weeks">9 weeks</option>
            <option value="10 weeks">10 weeks</option>
          </select>
        </br>
        <button>Submit</button>
    </form>
</body>
</html>